/* PAGE */

.Vineyards {
  text-align: center;
}
.lu {
  text-align: center;
}
.li {
  text-align: center;
}
.container {
  text-align: center;
}

.vineyard {
  margin: auto;
  width: 70%;
  background-size: cover;
  height: 300px;
  padding: 50px;
  margin-bottom: 50px;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

#menu {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

#menu li {
  display: inline;
  padding: 10px;
  margin: 10px;
  background-color: black;
  border-radius: 20px;
}

#menu li a {
  color: white;
}

.sold {
  background: #f44b42;
}

.available {
  background: #b8f441;
}

.vineyard .title {
  background-color: rgba(255,255,255,0.5);
  padding: 0px 15px 5px 15px;
  text-align: left;
  width: 80%;
}

.vineyard .name {
  font-size: 3em;
  font-weight: bold;
}

.vineyard .desc {
  font-size: 1em;
  font-weight: bold;
}

.vineyard .rate {
  font-size: 0.5em;
  font-weight: bold;
}

.vineyard .buy .rate .unit {
  font-size: 0.5em;
}

.tokensAvailable {
  font-size: 0.3em;
}

.vineyard .buy {
  background-color: rgba(255,0,0,0.8);
  color: white;
  display: inline-block;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 3em;
}

.vineyard .buy a {
  color: white;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

body, .container, .splash, main {
  min-height: 100vh;
}

.container {
  text-align: center;
}

.login-with-uport img {
  border-radius: 100px;
  height: 200px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.9);
}

.splash {
  text-align: center;
  background: url('http://1.bp.blogspot.com/-7hDmSn6CG-U/TxOXJb2q2WI/AAAAAAAADdc/rKgQhdcVRQQ/s1600/1Ds21708_Weinberge_Seinsheim.jpg');
  background-size: cover;
}

.splash .inner {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  width: 25%;
  border-radius: 50px;
  padding: 25px;
}

.splash ul {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.splash ul li {
  display: inline-block;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  font-weight: bold;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
